<div class="containerMenu">
    <div class="imgMenu">
        <img src="{{ section.settings.image_menu | img_url: '350x350' }}">
    </div>
    {% for link in linklists[section.settings.select_menu].links %}
        <ul class="parent">
            <li><a href="{{ link.url }}">{{ link.title }}</a></li>
        </ul>
    {% endfor %}
</div><br><br>

<style>
.containerMenu {
    background-color: #ededed;
    width:350px;
    margin:auto;
    margin-bottom:50px
}

.imgMenu {
    text-align:center;
    width:100% !important;
}

.parent {
    list-style: none;
    margin: auto;
    padding: 0;
    text-align: center;
}

li:hover {
    background-color: #00b490;
}

a {
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
}


</style>

{% schema %}
{
  "name": "Menu IIM",
  "settings": [
    {
      "id": "image_menu",
      "type": "image_picker",
      "label": "Image du menu"
    },
    {
        "type": "link_list",
        "id": "select_menu",
        "label": "Selectionner le menu"
    }
  ]
  ,
  "presets": [
    {
      "name": "Menu IIM",
      "category": "Cours IIM"
    }
  ]
}
{% endschema %}

{% javascript %}
{% endjavascript %}